<header class="header">
  <div class="container">
      <div class="row justify-content-between">
          <div class="logo">
              <a href="index.html">NJ</a>
          </div>
          <div class="hamburger-btn outer-shadow hover-in-shadow">
              <span></span>
          </div>
      </div>
  </div>
</header>
<!--header start-->
<!--nav starts here-->
<!--nav ends here-->
<nav class="nav-menu">
  <div class="close-nav-menu outer-shadow hover-in-shadow">&times;</div>
  <div class="nav-menu-inner">
      <ul><a href="#" class="inner-shadow active">home</a></ul>
      <ul><a href="#" class="outer-shadow hover-in-shadow">about</a></ul>
      <ul><a href="#" class="outer-shadow hover-in-shadow">services</a></ul>
      <ul><a href="#" class="outer-shadow hover-in-shadow">portfolio</a></ul>
      <ul><a href="#" class="outer-shadow hover-in-shadow">testimonial</a></ul>
      <ul><a href="#" class="outer-shadow hover-in-shadow">contact</a></ul>
  </div>
  <p class="copyright-text">&copy; 2021 The Netjonin</p>
</nav>

<!--Home Section-->
<section class="home-section section">
  <!--effect wrap start-->
  <div class="effect-wrap">
      <div class="effect effect-1">

      </div>
      <div class="effect effect-2">
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
      </div>
      <div class="effect effect-3"></div>
  </div>
  <!--effect wrap end-->
  <div class="container">
      <div class="row full-screen align-items-center">
          <div class="home-text">
              <p>Hello!</p>
              <h2>I'm Taofeek</h2>
              <h1>A Product Engineer</h1>
              <a href="#div" class="btn-1 outer-shadow hover-in-shadow">More About Me</a>
          </div>
          <div class="home-img">
              <div class="img-box">
                  <img src="assets/img/pix.png" class="inner-shadow outer-shadow" alt="profile-pix">
              </div>
          </div>
      </div>
  </div>
</section>

<!--<hr class="demarcation">-->
<h1 clCass="h1">
  bio
</h1>
<div class="div">
  <p class="info-text">
      I am a product engineering trainee at Decagon Institute. I have my first degree at Obafemi Awolowo University, Nigeria.
      and my second degree at Kwame Nkrumah University of Science and Technology, Ghana. Although
      my degrees are not in computer science, I am passionate about it to know that it.
  </p>
</div>
<h1 class="contact">
  Contact me
</h1>
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>